<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
    <html>
      <head>
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
  	<link rel="stylesheet" type="text/css" href="css/menu.css" media="screen" />
        <title>Popcorn .:.:. the film search engine</title>
      </head>
      <body>
        <div id="page">

          <div id="header">
            <h1 id="title">Popcorn (Movie Search) - a Team D application</h1>
          </div> <!-- end header -->

          <div id="searchbox">

            <form action="/popcorn_app/query/" onsubmit="return validate_form(this)" method="post">

              {% csrf_token %} <!-- cross-site request forgery protection -->

              <input type="text" name="query" value="" id="query">

              <input type="submit" value="Search" />

            </form>

          </div> <!-- searchbox -->

          <div id="resultbox">

            {% block main %}{% endblock %} <!-- placeholder block for results -->

          </div> <!-- resultbox -->


        </div> <!-- end page -->

      </body>
    </html>
