body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background: black url('/media/images/bg1.png') no-repeat top;
			/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	display: table;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	color: #fff;
	font-size: 80%;
	font-weight: bold;
}

#header{
	height: 70px;
}

#container {
	width: 1015px;
	margin: 0 auto;
}
#primary {
	float: left;
	width: 115px;
}
#content {
	float: left;
	width: 695px;
}
#secondary {
	float: left;
	width: 115px;
}

.results {
	position:relative;
	left: 200px;
   	border: thin;
	border-style: solid;
	border-color: #fff;
}


#searchLabel{

	font-size: 2.5em;
	font-family: Comic Sans MS;
	color: white;
}

#search{
	width: 70%;
	height: 30px;
	 border-style: hidden;
     border-width: 0px;

     padding-left:7px;
     padding-right:7px;
     font-size:8pt;
     margin-left:3px;
  

}

#searchbox{
	position:relative;
	left: 200px;
}

#logoImage{
	font-size: 4em;
}

#loginButton{
	position:relative;
	left: 20px;
}
#icon{
position:relative;
left:770px;
top:240px;
}

fieldset{

	border: none;
}

a{
	color:white;
}
#footer{
	position: relative;
	bottom: -405px;
	right: 30px;
	font-size: 3em;
	text-align: center;
}

#footersmall{
	position: relative;
	bottom: -525px;
	right: -95px;
	font-size: 3em;
	text-align: center;
}

.footer{
 	color: red;
}

#sign_box
{
width:170px; 

padding:8px;
position:relative;
left:757px;
top:10px;
display:none;
-moz-border-radius-topleft:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-webkit-border-top-left-radius:6px;
-webkit-border-bottom-left-radius:6px;
-webkit-border-bottom-right-radius:6px;
border-style: solid solid solid solid;
	border-color:#FF0000;
	background-color:Black;
	border-size: 1px;
	border-width: 1px;
	
}
.sign_in
{
position:relative;
left:900px;
top:12px;
}
#main
{
height:500px;
}
